@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  /*Colores Personalizados*/
  --color-primary: #ec7f67; /*#ec9c13*/
  --color-background-light: #e7f2f1; /*#f8f7f6*/
  --color-background-dark: #201c18; /*#1a1611*/
  --color-deep-blue: #042b41; /*#1a1611*/
  --color-secondary: #ea1608;
  --color-info: #201c18;

  --color-bg-modal: oklch(37.3% 0.034 259.733);

  /*Tipografia*/
  --font-display: 'Inter', ui-sans-serif, system-ui, sans-serif;

  /* Bordes */
  --radius-default: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
